/* style.css */
body{
  background-color: aqua;
}

h2{
  color:black;
  font-size: x-large;
}

ul{
  color:gold;
  font-size: medium;
  font-weight: bold;
}
a{
  color:red
  
}


/* .alert-text {
    color: red;
  } */

/* .check{
    color: green;
  }
#chicken{
    color: magenta;
}

.read,
.unread {
  color: white;
  background-color: black;
}

.read {
  /* several unique declarations */
/* } */

/* .unread {
  /* several unique declarations */
/* } */

/* .subsection {
  color: green;
} */ 

